* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
a {
  text-decoration: none;
  color: white;
}
.contact {
  width: 100%;
  min-height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  border-bottom: 1px solid #ddd;
  font-size: 13px;
}
.Top_Right {
  display: flex;
  align-items: center;
  gap: 12px;
}
.Top_Left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #06459b;
}
.Top_Right span {
  color: #06459b;
}
.number {
  padding-right: 12px;
  border-right: 1px solid #ccc;
}
.contact img {
  vertical-align: middle;
  margin-right: 4px;
}
.facebook img {
  width: 15px;
}
.logo {
  width: 100%;
  min-height: 115px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 8%;
}
.NPC img {
  width: 180px;
  height: auto;
}
.Flag img {
  width: auto;
  height: 65px;
}
.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background-color: #06459b;
  color: white;
}
.nav > li {
  position: relative;
  padding: 15px 17px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}
.nav > li:hover {
  background-color: red;
}
.arrow {
  margin-left: 5px;
  font-size: 10px;
}
.DropDown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 230px;
  list-style: none;
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  z-index: 9999;
}
.nav > li:hover .DropDown {
  display: block;
}
.DropDown li {
  padding: 12px 15px;
  background-color: white;
  color: #333;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}
.DropDown li a {
  text-decoration: none;
  color: #333;
}

.DropDown li:hover {
  background-color: #06459b;
  color: white;
}
.DropDown li:hover a {
  color: white;
}

.Mountains img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  display: block;
}
/* =========================
   NEWS
========================= */

.News {
  width: 90%;
  padding-left: 10%;
  box-sizing: border-box;
}

.News .Container {
  width: 100%;
}

.News h1 {
  font-size: 22px;
  font-weight: 700;
  color: #080505;
}
.News_title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: black; 
  text-decoration: none;
}

.News .News_item {
  position: relative;
  padding: 10px 10px 9px 39px;
  border-bottom: 1px solid #c7c7c7;
}

.News_item {
  position: relative;
  border-bottom: 1px solid #c7c7c7;
}

.News_icon {
  position: absolute;
  left: 16px;
  top: 20px;
  color: #0056b3;
  font-size: 15px;
}

.News_item h3 {
  display: block;
  font-size: 18px;
  font-weight: 600;
}

.News .News_item h3 a {
  color: #222;
  text-decoration: none;
}
.News .News_id p {
  margin: 3px;
  font-size: 12px;
  color: #444;
}

.Pagination {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Pagination button {
    width: 50px;
    height: 40px;
    border: 1px solid blue;
    background:white;
    cursor: pointer;
    font-size: 14px;
    color: blue;
    border-radius: 4px;
}

.siteFooter {
  width: 100%;
  background-color: #06459b;
  color: white;
}
.footerWrap {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns:
    1.5fr
    1.2fr
    1fr
    1.2fr;
  gap: 50px;
  padding: 25px 0 35px;
  border-bottom: 2px snow white;
}
.footCol {
  min-width: 0;
}
.footCol h3 {
  margin-bottom: 15px;
  color: white;
  font-size: 19px;
}
.footCol p {
  margin: 8px 0;
  color: white;
  font-size: 14px;
  line-height: 1.5;
}
.footBrand img {
  width: 195px;
  height: auto;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 7px;
}
.footCol ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footCol li {
  margin-bottom: 7px;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
.footCol li:hover {
  color: #ddd;
}
.footBottom {
  text-align: center;
  border-top: 2px solid white;
  padding-top: 30px;
  padding-bottom: 12px;
}
