* {
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.Top_Right span {
  color: blue;
}

.number {
  border-right: 1px solid #ccc;
}

.Top_Left {
  color: blue;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  border-bottom: 1px solid #ccc;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo img {
  width: 150px;
  height: auto;
}

.NPC {
  padding: 1% 8%;
}

.Flag {
  padding: 0 6%;
}

.Flag img {
  height: 60px;
  width: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  background-color: blue;
  font-weight: 400;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  margin: 0;
  cursor: pointer;
}

.arrow {
  font-size: 15px;
  margin-left: 5px;
}

.DropDown {
  list-style: none;
  display: none;
  position: absolute;
  background: white;
  box-shadow: 2px 2px 2px gray;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 999;
}

.DropDown li {
  padding: 12px;
  color: black;
}

.nav li:hover .DropDown {
  display: block;
}

.nav > li:hover {
  position: relative;
  background: red;
}

.DropDown li:hover {
  background: blue;
  color: white;
}

.NewsBar {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.News {
  background: red;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  width: 60px;
  flex-shrink: 0;
  padding: 5px;
}

.NewsContainer {
  overflow: hidden;
  background-color: white;
  white-space: nowrap;
}

.Nepali {
  color: red;
  display: inline-block;
  padding-top: 8px;
  animation:
    scroll_News 20s linear infinite,
    Fade-in-out 0.5s infinite alternate;
}

@keyframes scroll_News {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes Fade-in-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.NewsContainer > .Nepali:hover {
  animation-play-state: paused;
}

.Side_Bar {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 1px;
  position: absolute;
  left: 10%;
  top: 26%;
}

.Side_Bar span {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
  border: 2px solid rgb(74, 74, 74);
  padding: 10px 12px;
  background: white;
  cursor: pointer;
  height: 65px;
  box-sizing: border-box;
}

.Side_Bar .fade {
  animation: Fade-in-out 0.5s infinite alternate;
  background-color: blue;
  color: white;
}

.Side_Bar span:hover {
  background: blue;
  color: white;
}

.image_slider {
  width: 700px;
  height: 445px;
  position: absolute;
  left: 29%;
  top: 26%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo_bar {
  width: 300px;
  float: right;
}

.profile {
  text-align: center;
  height: 250px;
  width: 180px;
  margin-bottom: 20px;
  padding: 10px;
  background: rgb(238, 236, 236);
}

.profile img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  border: 3px solid white;
}

.profile h3 {
  margin: 5px 0;
  color: rgb(5, 5, 142);
}

.profile p {
  color: #8b8989;
}

.news-update-bar {
  display: flex;
  width: 85%;
  margin-left: 3.4%;
  margin-top: 480px;
  gap: 35px;
  align-items: flex-start;
}

.news-section {
  width: 65%;
}

.news-title {
  display: flex;
  width: 100%;
  height: 47px;
  background: rgb(5, 55, 150);
  margin-bottom: 5px;
}

.news-title span {
  background: red;
  color: white;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
}

.news-item {
  border-bottom: 1px solid #bdbdbd;
  padding: 8px 15px;
}

.news-heading {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 18px;
  line-height: 1.7;
  font-weight: bold;
}

.news-heading i {
  color: rgb(0, 70, 170);
  font-size: 15px;
  margin-top: 7px;
}

.news-heading-red {
  color: red;
  animation: Fade-in-out 0.5s infinite alternate;
}

.date_red {
  color: red;
  font-size: 12px;
  margin-left: 25px;
  margin-top: 2px;
  animation: Fade-in-out 0.5s infinite alternate;
}

.date {
  color: red;
  font-size: 12px;
  margin-left: 25px;
  margin-top: 2px;
}

.read-more {
  background: rgb(0, 65, 160);
  color: white;
  border: none;
  padding: 8px 13px;
  margin-top: 8px;
  border-radius: 3px;
  cursor: pointer;
}

.update-section {
  width: 30%;
  padding-top: 15px;
}

.update-section h2 {
  color: red;
  font-size: 24px;
  margin: 0 0 8px 0;
}

.update-section h3 {
  background: blue;
  color: white;
  font-size: 17px;
  padding: 7px 5px;
  margin: 0 0 5px 0;
  animation: Fade-in-out 0.5s infinite alternate;
}

.update-section p {
  margin: 5px 0;
  font-size: 15px;
}

.apply-link {
  display: inline-block;
  background: rgb(0, 65, 160);
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-top: 2px;
}

.scan {
  font-weight: bold;
}

.qr {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.About_us {
  display: flex;
  justify-content: space-between;
}

.ground_image {
  padding-top: 2%;
  padding-left: 3.8%;
}

.About_us {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px auto;
  width: 80%;
  gap: 30px;
}

.ground_image img {
  width: 100%;
  width: 500px;
  height: 365px;
}

.About {
  flex: 1;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.About h2 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #003366;
}

.About p {
  font-size: 16px;
  color: #333;
}
