.Top_Right span {
  color: blue;
}

.number {
  border-right: 1px solid #ccc;
}
.Top_Left {
  color: blue;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  border-bottom: 1px solid #ccc;
}
html,
body {
  margin: 0;
  padding: 0;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}
.logo {
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 150px;
  height: auto;
}

.NPC {
  padding: 1% 8%;
}

.Flag {
  padding: 0 6%;
}
.Flag img {
  height: 60px;
  width: auto;
}
.nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  background-color: blue;
  font-weight: 400;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  margin: 0;
  cursor: pointer;
}
.arrow {
  font-size: 15px;
  margin-left: 5px;
}

.DropDown {
  list-style: none;
  display: none;
  position: absolute;
  background: white;
  box-shadow: 2px 2px 2px gray;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.DropDown li {
  padding: 12px;
  color: black;
}

.nav li:hover .DropDown {
  display: block;
}

.nav > li:hover {
  position: relative;
  background: red;
}
.DropDown li:hover {
  background: blue;
  color: white;
  cursor: pointer;
}
.NewsBar {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.News {
  background: red;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  width: 60px;
  flex-shrink: 0;
  padding: 5px;
}

.NewsContainer {
  overflow: hidden;
  background-color: white;
  white-space: nowrap;
}

.Nepali {
  color: red;
  display: inline-block;
  padding-top: 8px;
  animation:
    scroll_News 20s linear infinite,
    Fade-in-out 0.5s infinite alternate;
}
@keyframes scroll_News {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}
@keyframes Fade-in-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.NewsContainer > .Nepali:hover {
  animation-play-state: paused;
  cursor: inherit;
}

.Side_Bar {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 1px;
  position: absolute;
  left: 10%;
  top: 26%;
}

.Side_Bar span {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;
  border: 2px solid rgb(74, 74, 74);
  padding: 10px 12px;
  background: white;
  cursor: pointer;
  height: 50px;
}
.Side_Bar .fade {
  animation: Fade-in-out 0.5s infinite alternate;
  background-color: blue;
  color: white;
}

.Side_Bar :hover {
  background: blue;
  color: white;
  cursor: pointer;
}

.image_slider{
  width: 700px;
  height: 445px;
  display: flex;
  overflow: hidden;
  position: absolute;
  left: 29%;
  top: 26%;
}

